@import url('../../shared/styles/variables.css');
@import url('../../shared/styles/colors.css');

.container {
  font-size: 100px;
  transition: all var(--standart-animation-duration);
}

.light {
  color: var(--app-color-light);
}

.dark {
  color: var(--app-color-dark);
}