@import url('../../shared/styles/templates.css');

.container {
  display: flex;
  flex-direction: column;
}

.container input {
  @mixin input;
}

.inputBlock {
  @mixin inputBlock;
}

.inputBlock label {
  @mixin inputLabel;
}

.addBtn {
  @mixin button;
}

.message {
  margin-top: 2rem;
  text-align: center;
}