@import url("../../shared/styles/colors.css");
@import url("../../shared/styles/variables.css");
@import url("../../shared/styles/templates.css");

.deleteBookBtn {
  @mixin button;

  transition: all var(--standart-animation-duration);
}

.deleteBookBtnLight {
  background-color: var(--block-background-color);
  border: 0.5rem solid var(--accent-color-dark);
}

.deleteBookBtnDark {
  background-color: aliceblue;
  border: 0.5rem solid var(--accent-color-light);
  color: inherit;
} 