:root {
  /* Цвета фона приложения */
  --app-background-right-light: #708d9a;
  --app-background-left-light: #314158;
  --app-background-right-dark: #5A6679;
  --app-background-left-dark: #1D2734;

  /* Акцентный цвет */
  --accent-color-light: #d4d8ff;
  --accent-color-dark: #5F80FF;

  /* Цвета фона блоков */ 
  --block-background-color: #47568c;
}