:root {
  @define-mixin flexCenter {
    align-items: center;
    display: flex;
    justify-content: center;
  };

  @define-mixin size {
    height: 5rem;
    width: 5rem;
  }

  @define-mixin menuButton {
    background: none;
    border: none;
    border-radius: 100rem;
    cursor: pointer;
    font-size: 3rem;

    @mixin size;
  }
}