:root {
  /* Для  быстрых анимаций (например, при наведении на элемент) */
  --short-animation-duration: 0.5s;

  /* Для стандартных анимаций (например, смена фона приложения) */
  --standart-animation-duration: 1s;

  /* Для плавных анимаций (например, анимация переключения темы) */
  --long-animation-duration: 2s;
}
