@import url('../../shared/styles/colors.css');
@import url('../../shared/styles/variables.css');
@import url('../../shared/styles/templates.css');

.container {
  border-radius: 2rem;
  padding: 2rem;
  width: 40rem;
}

.loginText {
  margin-bottom: 1.5rem;
  text-align: center;
}

.loginInput {
  @mixin inputBlock;
}

.loginInput label {
  @mixin inputLabel;
}

.loginInput input {
  @mixin input;
}

.loginBtn {
  background-color: var(--block-background-color);
  border: none;
  border-radius: 1rem;
  color: var(--accent-color-light);
  cursor:  pointer;
  font-weight: 700;
  padding: 1rem;
  transition: all var(--short-animation-duration);
  width: 100%;

  &:disabled {
    color: #eff2ff;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.error {
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}